.App {
  max-width: 1560px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: auto auto;
}

.hand-svg {
  animation: waving 2.7s infinite;
}

@keyframes waving {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(25deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
